<h1>Show: <%= @recipe.title %></h1>

<div class="show">
	<h3><%= @recipe.title %></h3>
	<img src="<%= @recipe.image %>"/>
	<p>Quick description: <%= @recipe.description %></p>
	<p>Recipe rating: <%= @recipe.rating %>/5</p>
		
	<p>Preparation time: <%= @recipe.prep_time %></p>
	<p>Cooking time: <%= @recipe.cook_time %></p>
	<p>Level: <%= @recipe.difficulty_level %></p>
	<p>Ingredients: <%= @recipe.ingredients %></p>
	<p>Method: <%= @recipe.method %></p>
</div>

<%= link_to 'Destroy', @recipe, method: :delete %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %>


		
